<div class="media mb-4" *ngFor="let comment of post.comments">
  <img id="user-icon" class="d-flex mr-3 rounded-circle" src="../assets/user-icons/user-icon.svg" alt="">
  <div class="media-body">
    <a class="h5" (click)="selectUser(comment.author.id)"
      *ngIf="!comment.author.isDeleted">{{comment.author.username}}</a>
    <div class="h5 text-danger" *ngIf="comment.author.isDeleted">DELETED</div>
    <hr>
    {{comment.dateCreated | date:"short"}}
    <hr>
    {{comment.body}}
    <hr>
    <button *ngIf="showButtons(comment.author.id) && !isBanned" type="button" class="btn btn-outline-dark  "
      (click)="open(content)">Edit</button>
    <button *ngIf="showButtons(comment.author.id) && !isBanned" type="button" class="btn btn-outline-dark  "
      (click)="deleteComment(comment.id)">Delete</button>


    <!-- Modal -->
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="card my-4">
        <h5 class="card-header">Edit your comment:</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <textarea class="form-control" rows="3" #body required minlength="1">{{comment.body}}</textarea>
            </div>
          </form>
        </div>
        <div *ngIf="body.minlength">
          The comment must be at least 1 characters long.
        </div>
        <div class="btn btn-outline-secondary my-2 mr-2 my-sm-0  ml-auto"
          (click)="editComment(comment.id, body.value.toString())">
          Submit</div>
      </div>
    </ng-template>
    <!-- Modal -->

  </div>
</div>
