<div class="profile-userbuttons">
    <button type="button" class="btn btn-outline-secondary my-2 my-sm-0  ml-auto"
      *ngIf="!user.areFriends && !hasRequest && !hasSentRequest" (click)="followUser()"><span
        class="oi oi-heart"></span> Send Friendship Request</button>
    <button type="button" class="btn btn-outline-secondary my-2 my-sm-0  ml-auto" *ngIf="user.areFriends"
      (click)="unfollowUser()"><span class="oi oi-x"></span> Remove Friend</button>
    <button type="button" class="btn btn-outline-secondary my-2 my-sm-0  ml-auto"
      *ngIf="!user.areFriends && !hasRequest && hasSentRequest" (click)="unfollowUser()"><span
        class="oi oi-x"></span> Remove Friendship Request</button>
    <button type="button" class="btn btn-outline-secondary my-2 my-sm-0  ml-auto"
      *ngIf="!user.areFriends && hasRequest && !hasSentRequest" (click)="followUser()"><span
        class="oi oi-heart"></span> Accept Friendship Request</button>
  </div>