<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" style="width: 15%">Author</th>
        <th scope="col" style="width: 40%">Title</th>
        <th scope="col" style="width: 10%"><span class="oi oi-thumb-up text-success"></span> / <span
            class="oi oi-thumb-down text-danger"></span></th>
        <th scope="col" style="width: 10%">Comments</th>
        <th scope="col" class="text-right" style="width: 15%">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts | paginate: { itemsPerPage: 10, currentPage: p }" (click)="selectPost(post)">
        <td>{{post.author.username}}</td>
        <th><span class="oi oi-lock-locked" *ngIf="post.isLocked"></span> {{post.title}}</th>
        <td>{{post.numberOfLikes}} / {{post.numberOfDislikes}}</td>
        <td class="text-center">{{post.numberOfComments}}</td>
        <td class="text-right">
          <div>{{post.datePosted | date: 'h:mm a'}}</div>
          <div>{{post.datePosted | date: 'dd/MM/yyyy'}}</div>
        </td>
      </tr>
    </tbody>
    <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel="">
    </pagination-controls>
  </table>
</div>
