<div class="profile-usermenu text-center">
    <hr>
    <div>
      <div class="mb-1">
        <button class="btn btn-danger my-2 my-sm-0  ml-auto" (click)="deleteUser()">
          <a>
            <div><span class="oi oi-x"></span> Delete User!</div>
          </a>
        </button>
      </div>
      <div class="mb-1">
        <button class="btn btn-dark my-2 my-sm-0  ml-auto" *ngIf="!user.banstatus.isBanned" (click)="banUser('banned')">
          <a>
            <div><span class="oi oi-ban"></span> Ban User!</div>
          </a>
        </button>
      </div>
      <div class="mb-1">
          <button class="btn btn-dark my-2 my-sm-0  ml-auto" *ngIf="user.banstatus.isBanned" (click)="unbanUser()">
            <a>
              <div><span class="oi oi-check"></span> Unban User!</div>
            </a>
          </button>
        </div>
    </div>
  </div>