<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MMM</a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <span [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <div class="row">
        <div class="col" *ngIf="isLoggedIn()">
          <div ngbDropdown class="d-inline-block">
            <button class="btn mr-3" id="dropdownBasic1" ngbDropdownToggle aria-haspopup="true"
              aria-expanded="false">Menu</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem [routerLink]="['/posts']"><span class="oi oi-home"></span> Home</button>
              <button ngbDropdownItem (click)="open(content)" *ngIf="!isBanned"><span class="oi oi-pencil"></span>
                Create post</button>
              <button ngbDropdownItem [routerLink]="['/friends']"><span class="oi oi-heart"></span> Friends</button>
              <button ngbDropdownItem [routerLink]="['/users']"><span class="oi oi-people"></span> All Users</button>
              <!-- <button ngbDropdownItem><span class="oi oi-copywriting"></span> My Posts</button> -->
            </div>
          </div>
          <button class="btn btn-outline-secondary my-2 my-sm-0  ml-auto" type="button" (click)="open(content)"
            *ngIf="!isBanned"><span class="oi oi-pencil"></span> Create
            Post</button>
        </div>
      </div>
    </ul>


    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0 search-button" type="submit" name="button">
        <img src="../assets/buttons-icons/search-icon.svg" alt="">
      </button>
    </form> -->

    <div class="my-2 my-lg-0 text-danger" *ngIf="isBanned && isLoggedIn()"><span class="oi oi-ban"></span> Your profile is currently
      banned! <span class="oi oi-ban"></span></div>




    <!-- Modal -->
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create New Post</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="md-form mb-5">
        <label data-error="wrong" data-success="right" for="form29">Title</label>
        <input-counter #titleInput type="text" id="form29" className="form-control validate" required="required"
          maxlength=200 minlength=1></input-counter>

      </div>

      <div class="md-form mb-5">

        <label data-error="wrong" data-success="right" for="form32">Description</label>

        <input-counter #descriptionInput type="text" id="form32" className="form-control validate" required="required"
          maxlength=250></input-counter>

      </div>

      <div class="md-form">
        <label data-error="wrong" data-success="right" for="form8">Your Post</label>

        <input-counter #postBodyInput type="text" id="form8" className="form-control validate" required="required"
          maxlength=1000 minlength=1></input-counter>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark"
          (click)="createPost(titleInput.value,descriptionInput.value,postBodyInput.value)">Post</button>
      </div>
      <label style="color:green;">{{successMessage}}</label>
    </ng-template>
    <!-- Modal -->

    <span class="my-2 my-sm-0  ml-auto">
      <img id="user-icon" src="../assets/user-icons/user-icon.svg" alt="" *ngIf="isLoggedIn()"
        [routerLink]="['/users', reverseToken().id]">
      <label class="user" [routerLink]="['/users', reverseToken().id]">{{reverseToken().username}}</label>

      <button class="btn btn-outline-secondary my-2 my-sm-0  ml-auto" type="submit" (click)="this.logout()"
        *ngIf="isLoggedIn()">Log
        Out</button>
    </span>
  </span>
</nav>
