<div class="table-responsive-sm">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="width: 15%"></th>
          <th scope="col" style="width: 40%">Username</th>
          <!-- <th scope="col" style="width: 15%">Admins</th>
          <th scope="col" style="width: 15%">Banned</th> -->
          <th scope="col" style="width: 15%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of friends" (click)="selectUser(user)">
          <td></td>
          <th>{{user.username}}</th>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  