<br />
<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <button type="button" class="btn btn-outline-secondary my-2 my-sm-0  ml-auto" *ngIf="!toggled"
        (click)="toggle()"><span class="oi oi-heart"></span> Check Requests</button>
      <button type="button" class="btn btn-outline-secondary my-2 my-sm-0  ml-auto" *ngIf="toggled"
        (click)="toggle()"><span class="oi oi-heart"></span> See Friends</button>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
<app-friends-list *ngIf="friends && !toggled" [friends]="friends" (selectedUser)="redirectToUser($event)">
</app-friends-list>
<app-friends-requests-list *ngIf="requests && toggled" [requests]="requests" (selectedUser)="redirectToUser($event)"></app-friends-requests-list>
<div class="container" *ngIf="!friends">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Oops!</h1>
        <h2>
          It looks like you have no friends! ;(</h2>
        <div class="error-details">
          Go explore the forum to make some:
        </div>
        <div class="error-actions">
          <a class="btn btn-outline-secondary my-2 my-sm-0  ml-auto" routerLink="/"><span
              class="glyphicon glyphicon-home"></span>
            <span class="oi oi-home"></span> Take Me Home </a>
        </div>
      </div>
    </div>
  </div>
</div>
