<div class="text-right" *ngIf="component">{{component.numberOfLikes}} <span id="thumb-up" [className]="hasLiked()" (click)="thumbUp()"></span>   {{component.numberOfDislikes}} <span id="thumb-down" [className]="hasDisliked()" (click)="thumbDown()"></span></div>
