<div class="container" *ngIf="post">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <h1 class="mt-4 text-capitalize"><span class="oi oi-lock-locked" *ngIf="post.isLocked"></span> {{post.title}}</h1>
      <div class="row">
        <div class="col-sm-1">
          <img id="user-icon" class="d-flex mr-3 rounded-circle" src="../assets/user-icons/user-icon.svg" alt="">
        </div>
        <p class="lead">
          by
          <a class="h5" [routerLink]="['/users/', post.author.id]" *ngIf="post.author.isDeleted === false">{{post.author.username}}</a>
          <a class="h5 text-danger" *ngIf="post.author.isDeleted === true">DELETED</a>
        </p>
      </div>
      <hr>
      <p class="h6">{{post.datePosted | date:"short"}}</p>
      <hr>
      <p class="lead">{{post.body}}</p>

      <hr>
      <app-vote [component]="post" (likeEvent)="likePost()" (dislikeEvent)="dislikePost()" *ngIf="!post.isLocked && !isBanned">
      </app-vote>
      <app-vote [component]="post" *ngIf="post.isLocked || isBanned"></app-vote>
      <hr>
      <button *ngIf="showLockButton && !post.isLocked && !isBanned" type="button" class="btn btn-outline-dark mr-1"
        (click)="lockPost()">Lock
        Post</button>
      <button *ngIf="showEditButton && !post.isLocked && !isBanned" type="button" class="btn btn-outline-dark mr-1"
        (click)="open(content)">Edit</button>
      <button *ngIf="showDeleteButton && !isBanned" type="button" class="btn btn-outline-dark mr-1"
        (click)="deletePost()">Delete</button>

      <div ngbDropdown class="d-inline-block" *ngIf="!isBanned">
        <button class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle aria-haspopup="true"
          aria-expanded="false">Flag Post</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="flagPost('It’s Off-Topic')">It’s Off-Topic</button>
          <button ngbDropdownItem (click)="flagPost('It’s Inappropriate')">It’s Inappropriate</button>
          <button ngbDropdownItem (click)="flagPost('It’s Spam')">It’s Spam</button>
        </div>
      </div>
      <label style="color:green;">{{flagMessage}}</label>
      <label style="color:green;">{{lockMessage}}</label>

      <!-- Modal -->
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Edit Post</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="md-form mb-5">
          <label data-error="wrong" data-success="right" for="form29">Title</label>
          <textarea #titleInput type="text" id="form29" class="form-control validate"
            required="required">{{title}}</textarea>

        </div>

        <div class="md-form mb-5">
          <label data-error="wrong" data-success="right" for="form32">Description</label>
          <textarea #descriptionInput type="text" id="form32" class="form-control validate"
            required="required">{{description}}</textarea>

        </div>

        <div class="md-form">
          <label data-error="wrong" data-success="right" for="form8">Your Post</label>
          <textarea #postBodyInput type="text" id="form8" class="md-textarea form-control" rows="4"
            required="required">{{postToUpdate}}</textarea>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark"
            (click)="updatePost(titleInput.value,descriptionInput.value,postBodyInput.value)">Edit Post</button>
        </div>
        <label style="color:green;">{{successMessage}}</label>
      </ng-template>
      <!-- Modal -->

      <hr>

      <br />
      <p class="h4">Comments:</p>
      <br />
      <app-view-comments [post]="post" (deletedCommentEvent)="ngOnInit()" (editedCommentEvent)="ngOnInit()">
      </app-view-comments>
      <hr>

      <app-create-comments [postId]="post.id" (commentCreatedEvent)="commentCreated()" *ngIf="!post.isLocked && !isBanned">
      </app-create-comments>

    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
<router-outlet></router-outlet>
