<div class="container text-center">
  <h2>User Activity</h2>
</div>
<hr>
<div class="table-responsive-sm" *ngIf="posts">
  <div class="row text-center">
    <div class="col-sm-12 h4">Last 5 posts</div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" style="width: 50%">Title</th>
        <th scope="col" class="text-right" style="width: 50%">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts" (click)="selectPost(post)">
        <th><span class="oi oi-lock-locked" *ngIf="post.isLocked"></span> {{post.title}}</th>
        <td class="text-right">{{post.datePosted | date:'short'}}</td>
      </tr>
    </tbody>
  </table>
</div>